---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro";
---

<Layout title="Liceo Diego Portales Linares">
    <Header />
    <div class="py-5">
        <div
            class="container mx-auto px-4 py-4 sm:py-4 lg:py-4 sm:px-6 lg:px-8 flex items-center"
        >
            <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
            <h2 class="text-4xl font-bold text-center mx-2 uppercase">
                especialidad de agropecuaria
            </h2>
            <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
        </div>
        <div class="container mx-auto flex justify-center py-10">
            <iframe
                src="https://drive.google.com/file/d/1BwJxOg-1yO9TactV1pm9tyTHX_VAcwe5/preview"
                width="800"
                height="480"
                allow="autoplay"></iframe>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-16 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">
                Egresar de Agropecuaria, te asegura las siguientes competencias:
            </h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">
                        Preparar el suelo para establecer los distintos tipos de
                        cultivos y praderas, utilizando técnicas, maquinaria,
                        instrumental analítico, implementos e insumos
                        apropiados, considerando sistemas de producción,
                        condiciones del terreno y ecosistema, y resguardo y
                        protección del recurso suelo.
                    </li>
                    <li class="text-xl">
                        Regar y drenar de acuerdo a los distintos sistemas de
                        producción vegetal, utilizando técnicas de tipo
                        gravitacional y equipos para el riego tecnificado,
                        considerando los requerimientos de los cultivos, las
                        condiciones climáticas y del terreno, el resguardo del
                        recurso hídrico y la legislación correspondiente.
                    </li>
                    <li class="text-xl">
                        Aplicar técnicas de producción vegetal, de acuerdo a las
                        características de las especies y los planes de
                        producción.
                    </li>
                    <li class="text-xl">
                        Aplicar técnicas de alimentación y pesaje en planteles
                        pecuarios con fines productivos, según la especie, el
                        sistema y el destino de la producción.
                    </li>
                    <li class="text-xl">
                        Manejar y disponer los residuos del proceso productivo,
                        considerando el cuidado del ambiente, de acuerdo a la
                        legislación vigente.
                    </li>
                    <li class="text-xl">
                        Aplicar técnicas de sanidad vegetal y control de plagas,
                        enfermedades y malezas a través de métodos preventivos y
                        curativos, tanto químicos como orgánicos y biológicos,
                        de acuerdo a las necesidades de los distintos cultivos,
                        modalidades y destino de la producción, cautelando la
                        legislación sanitaria, ambiental y laboral vigente.
                    </li>
                    <li class="text-xl">
                        Registrar el manejo productivo y la producción del
                        sistema en forma manual y digital, para el control de
                        gestión de la producción agropecuaria, utilizando
                        formatos establecidos en el sector.
                    </li>
                    <li class="text-xl">
                        Utilizar sistemas de información remota e instrumental
                        analítico para obtener y transmitir información
                        necesaria para la agricultura de precisión, aplicable a
                        los manejos productivos del predio.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">
                campo laboral técnico agropecuario mención vitivinícola
            </h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">
                        El egresado de esta Especialidad podrá desarrollar su
                        actividad tanto en pequeñas, medianas o grandes empresas
                        vitivinícolas dedicadas a la producción de uvas,
                        elaboración y envasado de vino, así como en industrias
                        de destilados de vino, elaboración de vinagres y otros
                        productos derivados de la uva y del vino.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">productos esperados</h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">
                        Cultivo y cuidado de viñedos, transporte y molienda de
                        la uva; vigilancia y apoyo a los procesos de elaboración
                        de caldos: envase del vino y otros, etiquetado de
                        botellas; almacenamiento.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">
                objetivos de aprendizaje de la mención vitivínicola
            </h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">
                        Vigilar y mantener en buen estado los cultivos de vides
                        destinadas a la vinificación, aplicando técnicas
                        adecuadas de manejo cultural
                    </li>
                    <li class="text-xl">
                        Ejecutar procedimientos de cosecha, transporte y
                        acondicionamiento de la uva, para realizar el proceso de
                        molienda de acuerdo a las buenas prácticas de
                        manufactura para el proceso de vinificación.
                    </li>
                    <li class="text-xl">
                        Realizar descubes, trasiegos y tratamientos enológicos
                        en los distintos procesos de producción del vino,
                        utilizando equipos e instrumentos adecuados.
                    </li>
                    <li class="text-xl">
                        Ejecutar procedimientos técnicos de bodegaje y
                        almacenamiento del vino envasado, bajo las condiciones
                        ambientales requeridas.
                    </li>
                    <li class="text-xl">
                        Verificar el funcionamiento de la maquinaria, equipos,
                        instrumentos y utensilios utilizados en el proceso de la
                        vinificación, asegurando su disponibilidad para la
                        continuidad del proceso productivo de acuerdo a los
                        procedimientos establecidos.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mx-auto flex justify-center py-10">
            <img src="/planes/plan_agro.webp" alt="plan_agropecuaria" />
        </div>
    </div>
</Layout>
<Footer />
