---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro";
---

<Layout title="Liceo Diego Portales Linares">
    <Header />
    <div class="py-5">
        <div
            class="container mx-auto px-4 py-4 sm:py-4 lg:py-4 sm:px-6 lg:px-8 flex items-center"
        >
            <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
            <h2 class="text-4xl font-bold text-center mx-2 uppercase">
                especialidad de científico humanista artístico
            </h2>
            <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
        </div>
        <div class="container mx-auto flex justify-center py-10">
            <iframe
                src="https://drive.google.com/file/d/1r3X7oXSskOSD6zMsTNu8Q-DpbnU7OtEB/preview"
                width="800"
                height="480"
                allow="autoplay"></iframe>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-16 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">
                Egresar de Científico Humanista, te asegura las siguientes
                competencias:
            </h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">
                        La enseñanza de científico humanista tiene la principal
                        función de hacer que el alumno adquiera habilidades en
                        todos los ámbitos, para que pueda seguir estudios
                        superiores.
                    </li>
                    <li class="text-xl">
                        Los liceos científico-humanistas tienen una mayor
                        cantidad de asignaturas que requieren aprendizajes
                        conceptuales, a diferencia de los técnico profesionales
                        que son mas de carácter práctico.
                    </li>
                    <li class="text-xl">
                        Los intereses a esa edad están en proceso de formación,
                        para que un niño o niña entre en un liceo científico
                        humanista tiene que tener vocación de estudio y ganas de
                        estudiar una carrera universitaria.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">CONVENIOS DE PRACTICA</h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">Lenguaje y Comunicación</li>
                    <li class="text-xl">Matemáticas</li>
                    <li class="text-xl">Historia y Ciencias Sociales</li>
                    <li class="text-xl">Inglés</li>
                    <li class="text-xl">Biología</li>
                    <li class="text-xl">Física</li>
                    <li class="text-xl">Química</li>
                    <li class="text-xl">Tecnológica</li>
                    <li class="text-xl">Artes Visuales</li>
                    <li class="text-xl">Música</li>
                </ul>
            </div>
        </div>
    </div>
</Layout>
<Footer />
