---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro";
---

<Layout title="Liceo Diego Portales Linares">
    <Header />
    <div class="py-5">
        <div
            class="container mx-auto px-4 py-4 sm:py-4 lg:py-4 sm:px-6 lg:px-8 flex items-center"
        >
            <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
            <h2 class="text-4xl font-bold text-center mx-2">
                ESPECIALIDAD DE ENFERMERÍA
            </h2>
            <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
        </div>
        <div class="container mx-auto flex justify-center py-10">
            <iframe
                src="https://drive.google.com/file/d/1oxfzFWMxlyB_hZXID6C8mfH7FKkDU3Za/preview"
                width="800"
                height="480"
                allow="autoplay"></iframe>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-16 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">
                Egresar de Enfermeria, te asegura las siguientes competencias:
            </h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">
                        Realizar atención integral de bienestar y confort a
                        pacientes adultos y pediátricos.
                    </li>
                    <li class="text-xl">
                        Realizar atención de enfermería integral durante el
                        tratamiento de la enfermedad y la rehabilitación del
                        paciente.
                    </li>
                    <li class="text-xl">
                        Realizar atención de enfermería integral a la mujer
                        embarazadas.
                    </li>
                    <li class="text-xl">
                        Realizar toma de muestra de exámenes de laboratorio.
                    </li>
                    <li class="text-xl">
                        Realizar procedimientos básicos de enfermería tendientes
                        a satisfacer las necesidades fundamentales.
                    </li>
                    <li class="text-xl">
                        Asistir al profesional en atención de urgencia y/o de
                        primeros auxilios.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">CONVENIOS DE PRACTICA</h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">
                        Realizar atención integral de bienestar y confort a
                        pacientes adultos y pediátricos.
                    </li>
                    <li class="text-xl">
                        Realizar atención de enfermería integral durante el
                        tratamiento de la enfermedad y la rehabilitación del
                        paciente.
                    </li>
                    <li class="text-xl">
                        Realizar atención de enfermería integral a la mujer
                        embarazadas.
                    </li>
                    <li class="text-xl">
                        Realizar toma de muestra de exámenes de laboratorio.
                    </li>
                    <li class="text-xl">
                        Realizar procedimientos básicos de enfermería tendientes
                        a satisfacer las necesidades fundamentales.
                    </li>
                    <li class="text-xl">
                        Asistir al profesional en atención de urgencia y/o de
                        primeros auxilios.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</Layout>
<Footer />
