---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro";
---

<Layout title="Liceo Diego Portales Linares">
    <Header />
    <div class="py-5">
        <div
            class="container mx-auto px-4 py-4 sm:py-4 lg:py-4 sm:px-6 lg:px-8 flex items-center"
        >
            <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
            <h2 class="text-4xl font-bold text-center mx-2 uppercase">
                especialidad de Gastronomía
            </h2>
            <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
        </div>
        <div class="container mx-auto flex justify-center py-10">
            <iframe
                src="https://drive.google.com/file/d/1pv_CScLiv87FgrrGlVQi_8MmPMUrntwE/preview"
                width="800"
                height="480"
                allow="autoplay"></iframe>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-16 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">
                Egresar de Gastronomía, te asegura las siguientes competencias:
            </h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">
                        Elaborar los alimentos, aplicando técnicas de corte,
                        horneo y cocción
                    </li>
                    <li class="text-xl">
                        Recepcionar y despachar materias primas.
                    </li>
                    <li class="text-xl">
                        Clasificar, rotular, almacenar y rotar materias primas e
                        insumos.
                    </li>
                    <li class="text-xl">
                        Higienizar y limpiar las materias primas e insumos.
                    </li>
                    <li class="text-xl">
                        Armar, decorar y presentar distintos tipos de productos
                        gastronómicos.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
            <h5 class="text-3xl font-bold uppercase">CONVENIOS DE PRACTICA</h5>
            <div class="pt-10">
                <ul class="list-disc space-y-4 pl-5">
                    <li class="text-xl">
                        El Técnico de nivel medio en Gastronomía, con Mención en
                        COCINA y REPOSTERÍA Y PASTELERÍA, pueden desempeñarse en
                        forma independiente y en empresas que elaboran productos
                        gastronómicos (Hoteles, Restaurantes, Casinos,
                        Pastelerías)
                    </li>
                    <li class="text-xl">Pastelería Zuiza.</li>
                    <li class="text-xl">Pastelería Doris.</li>
                    <li class="text-xl">Panadería la Francesa.</li>
                    <li class="text-xl">Hotel de Termas de Quinamávida.</li>
                    <li class="text-xl">Hotel de Termas de Panimávida.</li>
                    <li class="text-xl">Hotel Parada.-Estadio Español.</li>
                    <li class="text-xl">Restaurant Casa Grande.</li>
                    <li class="text-xl">Restaurant Mediterráneo.</li>
                </ul>
            </div>
        </div>
    </div>
</Layout>
<Footer />
