---

---

<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-[200px] overflow-hidden rounded-lg md:h-[600px]">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
                src="/fondos/casa_especialidades.webp"
                class="block w-full object-contain"
                alt="..."
            />
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
                src="/fondos/frontis_liceo.webp"
                class="block w-full object-contain"
                alt="..."
            />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
                src="/fondos/murales_liceo.webp"
                class="block w-full object-contain"
                alt="..."
            />
        </div>
    </div>
</div>
