---

---

<footer style="background-color: #2C3581;" class="py-16 text-white w-full">
    <article class="text-center">
        <div>
            <p>VISITANOS</p>
        </div>
        <div class="py-4">
            <p>
                Estamos ubicados en <span class="font-bold"
                    >Carmen #370, Linares.</span
                >
            </p>
        </div>
        <div class="">
            <p>
                Nuestro horario de atención: mañana 09:00 a 13:00 hrs, tarde
                14:30 hasta las 17:00 hrs
            </p>
        </div>
        <div>
            <p>Nuestro telefono: +569 8615 1281</p>
        </div>
    </article>
</footer>
<footer class="py-6 text-center w-full">
    <article>
        <p class="font-bold">
            Liceo Técnico Profesional Diego Portales © 2024
        </p>
    </article>
</footer>
