---

---

<div
    class="container mx-auto px-4 py-4 sm:py-4 lg:py-4 sm:px-6 lg:px-8 flex items-center"
>
    <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
    <h2 class="text-4xl font-bold text-center mx-2">Portales de Ayuda</h2>
    <hr class="flex-grow border-t-2 border-gray-300 mx-2" />
</div>
<div
    class="container mx-auto px-4 py-4 sm:py-4 lg:py-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-5 justify-items-center pt-10 text-center"
>
    <div
        class="w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden"
    >
        <div class="overflow-hidden">
            <img
                src="/portales/convivencia.webp"
                alt="Convivencia Escolar"
                class="object-cover w-full h-48 transition-transform duration-300 transform hover:scale-110"
            />
        </div>
        <div class="p-5">
            <a href="#">
                <h5
                    class="mb-2 transition-all hover:scale-95 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                    CONVIVENCIA ESCOLAR
                </h5>
            </a>
        </div>
    </div>
    <div
        class="w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden"
    >
        <div class="overflow-hidden">
            <img
                src="/portales/pace.webp"
                alt="PACE"
                class="object-cover w-full h-48 transition-transform duration-300 transform hover:scale-110"
            />
        </div>
        <div class="p-5">
            <a href="#">
                <h5
                    class="mb-2 transition-all hover:scale-95 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                    PACE
                </h5>
            </a>
        </div>
    </div>
    <div
        class="w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden"
    >
        <div class="overflow-hidden">
            <img
                src="/portales/daem.webp"
                alt="DAEM LINARES"
                class="object-cover w-full h-48 transition-transform duration-300 transform hover:scale-110"
            />
        </div>
        <div class="p-5">
            <a href="https://linaresdaem.cl/" target="_blank">
                <h5
                    class="mb-2 transition-all hover:scale-95 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                    DAEM LINARES
                </h5>
            </a>
        </div>
    </div>
    <div
        class="w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden"
    >
        <div class="overflow-hidden">
            <img
                src="/portales/aprende.webp"
                alt="APRENDE EN LINEA"
                class="object-cover w-full h-48 transition-transform duration-300 transform hover:scale-110"
            />
        </div>
        <div class="p-5">
            <a href="#">
                <h5
                    class="mb-2 transition-all hover:scale-95 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                    APRENDE EN LINEA
                </h5>
            </a>
        </div>
    </div>
    <div
        class="w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden"
    >
        <div class="overflow-hidden">
            <img
                src="/portales/reglamento_practica.webp"
                alt="REG. PRÁCTICA 2024-2025"
                class="object-cover w-full h-48 transition-transform duration-300 transform hover:scale-110"
            />
        </div>
        <div class="p-5">
            <a href="/dctos/reglamentos_practicas.pdf" target="_blank">
                <h5
                    class="mb-2 transition-all hover:scale-95 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                    REG. PRÁCTICA 2024-2025
                </h5>
            </a>
        </div>
    </div>
</div>
